:root {
    --white: rgb(250,250,250);
    --black: black;
    --light-blue: #d1e3f3;
    --dark-blue: #304d63;
    --darker-blue: #1d2e3b;
    --darkest-blue: #0c1318;
    --sea-green: #8fb9aa;
    --dark-sea-green: #17694e;
    --light-grey: rgb(150,150,150);
    --default-font: 'Lucida Sans';
    --default-horizontal-padding: 15px;
    --default_vertical-padding: 5px;
    --input-text-border-width: 1px;
    --input-text-horizontal-padding: 5px;
    --input-text-vertical-padding: 3px;
}
* {
    font-family: var(--default-font);
    margin: 0;
}
body {
    background-color: var(--white);
}
header {
    background-color: var(--dark-blue);
    margin: 0 auto;
    padding: 0;
    color: var(--white);
}
.main-menu {
    background-color: var(--sea-green);
    padding: 5px;
}
.main-menu span {
    margin: 0px 20px;
}
h1 {
    position: relative;
    text-align: center;
    margin: auto;
}
.form-title {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: var(--sea-green);
    color: var(--darkest-blue);
}
.label-text {
    position: relative;
    /* background-color: lightcoral; */
    width: 300px;
}
.input-text {
    display: block;   
    border: var(--input-text-border-width) solid var(--light-grey);
    border-radius: 5px;
    padding: var(--input-text-vertical-padding) var(--input-text-horizontal-padding);
    font-size: 14px;
}
.label-text .input-text {
    position: relative;
    width: calc(100% - 2 * var(--input-text-border-width) - 2 * var(--input-text-horizontal-padding)); /* -2*border-width (1px) -2*horizontal-padding (5px) */
}
.label-text label {
    display: block;
}
.customer-register {
    /* background-color: rgb(153, 190, 223); */
    width: 1000px;
    margin: 30px auto;
}
.form-part {
    background-color: var(--light-blue);
    padding: 15px;
}
.form-part:nth-of-type(1) {
    /* background-color: lightcoral; */
    border-top-right-radius: 15px;
    /* border-top-left-radius: 15px; */
    /* border-top: 1px solid rgb(85, 85, 85);
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85); */
}
/* .form-part:nth-of-type(2) {
    background-color: lightblue;
    border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
} */
.form-part:nth-of-type(3) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: lightgoldenrodyellow; */
    /* border-left: 1px solid rgb(85, 85, 85);
    border-right: 1px solid rgb(85, 85, 85);
    border-bottom: 1px solid rgb(85, 85, 85); */
}
.name-part {
    /* background-color: lightgrey; */
    display: flex;
    justify-content: space-between;
}
.birth-date-part {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    justify-content: space-between;
}

/* .radio-box {
    background-color: lightgreen;
} */
.radio-box span {
    display: block;
}
.gender-part {
    display: flex;
    justify-content: space-between;
}
.gender-part .title {
    padding-bottom: 5px;
}
#full-name {
    display: block;
    padding-top: 5px;
    color: rgb(85, 85, 85);
}

/* .gender-part .options {
    background-color: lightcoral;
} */
.gender-part .options button {
    padding: 5px;
    width: 100px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 10px;
    border: 1px solid rgb(150,150,150);
    
}
.gender-part .options button:nth-of-type(1) {
    background-color: rgb(220,220,220);
}
.gender-part .options button:nth-of-type(2) {
    background-color: rgb(245,245,245);
    color: var(--dark-sea-green);
    font-weight: bold;
}